- name: prepare kubernetes installation
  hosts: all
  become: true

  tasks:
  - name: update
    ansible.builtin.apt:
      update-cache: yes
      cache_valid_time: 3600

  - name: upgrade all packages to latest version
    ansible.builtin.apt:
      upgrade: full

  - name: remove old container runtimes
    ansible.builtin.apt:
      name: 
        - docker.io 
        - docker-doc 
        - docker-compose 
        - docker-compose-v2 
        - podman-docker 
        - containerd 
        - runc
      state: absent
      purge: yes

  - name: turn off swap 1/2
    command: swapoff -a

  - name: turn off swap 2/2
    replace:
      path: /etc/fstab
      regexp: '^\S+\s+\S+\s+swap\s+'
      replace: '# &'

# auf aws die Security groups checken!!!!
- name: prepare ports
  hosts: all
  become: true

  tasks:
    - name: kubernetes api server
      community.general.ufw:
        rule: allow
        port: '6443'

    - name: etc server client api
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '2379:2380'

    - name: kubelet api
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '10250'

    - name: nodeport services
      community.general.ufw:
        rule: allow
        port: '30000:32767'

    - name: kube-scheduler
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '10259'

    - name: kube-controller-manager
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '10257'

    - name: VXLAN Overlay
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '8472/udp'

    - name: healthchecks
      community.general.ufw:
        rule: allow
        src: 192.168.178.0/24
        port: '4240tcp'

    - name: allow icmp echo-request from cluster subnet
      community.general.ufw:
        rule: allow
        proto: icmp
        icmp_type: 8
        src: 192.168.178.0/24

    - name: allow icmp echo-reply (type 0)
      community.general.ufw:
        rule: allow
        proto: icmp
        icmp_type: 0
        src: 192.168.178.0/24

- name: enable ipv4 packet forwarding
  hosts: all
  become: true

  tasks:
    - name: enable IPv4 forwarding
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: 1
        state: present
        reload: yes
        sysctl_file: /etc/sysctl.d/k8s.conf

    - name: enable bridge nf iptables
      ansible.builtin.sysctl:
        name: net.bridge.bridge-nf-call-iptables
        value: 1
        state: present
        reload: yes
        sysctl_file: /etc/sysctl.d/k8s.conf

    - name: enable bridge nf ip6tables
      ansible.builtin.sysctl:
        name: net.bridge.bridge-nf-call-ip6tables
        value: 1
        state: present
        reload: yes
        sysctl_file: /etc/sysctl.d/k8s.conf

    - name: enable kernel modules
      ansible.builtin.copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter

    - name: load kernel modules
      ansible.builtin.shell: |
        modprobe overlay
        modprobe br_netfilter

- name: prepare and install container runtime
  hosts: all
  become: true

  tasks:
    - name: install containerd
      ansible.builtin.apt:
        name: containerd
        state: present

    - name: create containerd directory
      ansible.builtin.file:
        path: /etc/containerd
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Create containerd config.toml
      ansible.builtin.shell: containerd config default > /etc/containerd/config.toml
      args:
        creates: /etc/containerd/config.toml
    
    - name: configure systemd cgroup driver
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^(\s*)SystemdCgroup\s*=\s*false'
        line: 'SystemdCgroup = true'

    - name: restart containerd
      ansible.builtin.service:
        name: containerd
        state: restarted

- name: install kubelet, kubeadm, kubectl
  hosts: all
  become: true

  tasks:
    - name: install prerequisites
      ansible.builtin.apt:
        name:
          - apt-transport-https 
          - ca-certificates 
          - curl 
          - gpg
        state: present

    - name: Ensure keyring folder exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download Kubernetes Release.key
      ansible.builtin.get_url:
        url: https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key
        dest: /etc/apt/keyrings/kubernetes-release.key
        mode: "0644"

    - name: Convert Release.key to GPG
      ansible.builtin.command: >
        gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg /etc/apt/keyrings/kubernetes-release.key
      args:
        creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg

    - name: Add Kubernetes apt source
      ansible.builtin.apt_repository:
        repo: deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.34/deb/ /
        state: present

    - name: install kube-tools
      ansible.builtin.apt:
        name: 
          - kubelet
          - kubeadm
          - kubectl
        state: present

    - name: pin kube-tools version
      ansible.builtin.dpkg_selections:
        name:
          - kubelet
          - kubeadm
          - kubectl
        selection: hold
    
    - name: enable kubelet service
      ansible.builtin.service:
        name: kubelet
        enabled: true
        state: started

- name: initialize the cluster
  hosts: control-plane
  become: true

  tasks:
    - name: init command
      ansible.builtin.shell: kubeadm init --pod-network-cidr=10.0.0.0/16
      args:
        creates: /etc/kubernetes/admin.conf

    - name: copy kubeconfig for root
      ansible.builtin.command: >
        mkdir -p /root/.kube && cp /etc/kubernetes/admin.conf /root/.kube/config
      args:
        creates: /root/.kube/config

    - name: install cilium
      ansible.builtin.shell: >
        kubectl apply -f https://raw.githubusercontent.com/cilium/cilium/v1.16.1/install/kubernetes/cilium.yaml

    - name: wait for cilium daemonset to become ready
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Pod
        namespace: kube-system
      register: cilium_pods
      until: >
        cilium_pods.resources
        | selectattr('metadata.labels.k8s-app', 'equalto', 'cilium')
        | map(attribute='status.containerStatuses[0].ready')
        | list
        | min
      retries: 30
      delay: 10

    - name: wait for cilium operator to become ready
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Pod
        namespace: kube-system
        label_selectors:
          - k8s-app=cilium-operator
      register: operator_pods
      until: >
        operator_pods.resources
        | map(attribute='status.containerStatuses[0].ready')
        | list
        | min
      retries: 30
      delay: 10

    - name: get worker join token
      ansible.builtin.command: kubeadm token create --print-join-command
      register: join_output

    - name: set join token fact
      ansible.builtin.set_fact:
        join_token: "{{ join_output.stdout }}"

- name: join workers to the family
  hosts: worker-nodes
  become: true
  tasks:
    - name: run join command
      ansible.builtin.command: "{{ join_token }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
